body{
    background-image: url('sad.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
pre{
    text-align: left;
    color: black;
    font-size: large;
    
}
