body{
    background-image: url('sad.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
pre{
    text-align: left;
    color: aliceblue;
    font-size: large;
    margin-left: 25px;
}
